h1 {
	
}

.container {
	display: grid;
	grid-template-columns: 70% 30%;
	border: 1px #ccc solid;
	border-radius: 5px;
	
}

.stock_calc {
	border: 1px #ccc solid;
	border-radius: 2px;

}

.border {
	border: 1px #ccc solid;
	border-radius: 2px;
}

input {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#submission {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#submit {
border-width: : 50px
}