body {
	background-color: #e9edc9;
}

h1 {
	text-align: center;
	position: relative;
	top: 50px;
	text-decoration: underline;

}

.container {
	display: grid;
	grid-template-columns: minmax(75px, 200px) minmax(75px, 200px);
	justify-content: center;
	position: relative;
	top: 60px;
	left: 50px;
	
}

.stock_calc {
	display: flex;
	justify-content: flex-start;
	height: 50px;
	
	}


input {
	position: relative;
	left: 10px;
	width: 75px;
	border-radius: 8px;

}

#submit {
	width: 55px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50px;
	right: 20px;
}

#calculate:hover{
	
	background-color: #ccd5ae;
}
